<footer class="mt-auto bg-dark py-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center">
          <h1 class="navbar-brand text-white fs-4">2026 | Tasks</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center">
          <p class="text-white mb-0">Application for tasks management</p>
        </div>
      </div>
    </div>
  </div>
</footer>
