name: CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Rubocop-Code-Style-Check:
    uses: ./.github/workflows/rubocop.yml

  Brakeman-Vulnerabilities-Check:
    needs: [Rubocop-Code-Style-Check]
    uses: ./.github/workflows/brakeman.yml

  RSpec-Tests:
    needs: [Brakeman-Vulnerabilities-Check]
    uses: ./.github/workflows/tests.yml
    secrets: inherit
