name: Rubocop-Code-Style-Check

on:
  workflow_call:

jobs:
  Rubocop-Code-Style-Check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.4'
          bundler-cache: true

      - name: Rubocop code-style
        run: bundle exec rubocop
